[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "==1.0.1"
djangorestframework = "==3.13.1"
cryptography = "==44.0.2"
django-cors-headers = "==3.5.0"
djangorestframework-simplejwt = "==4.8.0"
drf-nested-routers = "==0.93.4"
django-filter = "==21.1"
web3 = "7.7.0"
flask = "*"
flask-limiter = "*"
requests = "==2.32.3"
djongo = "==1.3.6"
flask-cors = "*"
gunicorn = "==21.2.0"
whitenoise = "==6.8.2"
asgiref = "==3.8.1"
certifi = "==2025.1.31"
cffi = "==1.17.1"
charset-normalizer = "==3.4.1"
django = "==3.1.12"
dnspython = "==2.7.0"
idna = "==3.10"
ordered-set = "==4.1.0"
packaging = "==24.2"
parsimonious = "==0.10.0"
pycparser = "==2.22"
pyjwt = "==2.10.1"
pymongo = "==3.12.3"
pytz = "==2025.1"
sqlparse = "==0.2.4"
typing-extensions = "==4.12.2"
urllib3 = "==2.3.0"
wrapt = "==1.17.2"

[dev-packages]

[requires]
python_version = "3.10"
