[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "==3.1.12"
python-dotenv = "*"
djangorestframework = "==3.13.1"
cryptography = "*"
django-cors-headers = "==3.5.0"
djangorestframework-simplejwt = "==4.8.0"
drf-nested-routers = "==0.93.4"
django-filter = "==21.1"
web3 = "7.7.0"
flask = "*"
flask-limiter = "*"
requests = "*"
djongo = "==1.3.6"
flask-cors = "*"

[dev-packages]

[requires]
python_version = "3.10"
