<div class="container mt-5 p-4 border rounded shadow-lg bg-light">
  <h1 class="text-center text-primary mb-4">Ajouter un Patient</h1>
  <form [formGroup]="patientForm" (ngSubmit)="addPatient()">
    <div class="mb-3">
      <label for="numero_identite" class="form-label">Numéro d'identité</label>
      <input
        id="numero_identite"
        type="number"
        class="form-control"
        formControlName="numero_identite"
      />
      <div class="text-danger" *ngIf="patientForm.get('numero_identite')?.errors?.['required'] && patientForm.get('numero_identite')?.touched">
        Le numéro d'identité est requis
      </div>
      <div class="text-danger" *ngIf="patientForm.get('numero_identite')?.errors?.['maxLength']">
        Le numéro d'identité ne doit pas dépasser 10 caractères
      </div>
    </div>

    <div class="mb-3">
      <label for="nom" class="form-label">Nom</label>
      <input
        id="nom"
        type="text"
        class="form-control"
        formControlName="nom"
      />
      <div class="text-danger" *ngIf="patientForm.get('nom')?.errors?.['required'] && patientForm.get('nom')?.touched">
        Le nom est requis
      </div>
    </div>

    <div class="mb-3">
      <label for="prenom" class="form-label">Prénom</label>
      <input
        id="prenom"
        type="text"
        class="form-control"
        formControlName="prenom"
      />
      <div class="text-danger" *ngIf="patientForm.get('prenom')?.errors?.['required'] && patientForm.get('prenom')?.touched">
        Le prénom est requis
      </div>
    </div>

    <div class="mb-3">
      <label for="date_naissance" class="form-label">Date de naissnace</label>
      <input
        id="date_naissance"
        type="date"
        class="form-control"
        formControlName="date_naissance"
      />
      <div class="text-danger" *ngIf="patientForm.get('date_naissance')?.errors?.['required'] && patientForm.get('date_naissance')?.touched">
        Date de naissance est requis
      </div>
    </div>

    <label for="sex" class="form-label">Sex</label>
    <select name="sex" id="sex" class="form-select" formControlName="sex">
      <option value="m">Homme</option>
      <option value="f">Femme</option>
    </select>

    <div class="mb-3">
      <label for="numero_telephone" class="form-label">Numéro de téléphone</label>
      <input
        id="numero_telephone"
        type="number"
        class="form-control"
        formControlName="numero_telephone"
      />
      <div class="text-danger" *ngIf="patientForm.get('numero_telephone')?.errors?.['required'] && patientForm.get('numero_telephone')?.touched">
        Le numéro de téléphone est requis
      </div>
      <div class="text-danger" *ngIf="patientForm.get('numero_telephone')?.errors?.['maxlength']">
        Le numéro de téléphone ne doit pas dépasser 8 caractères
      </div>
    </div>

    <button type="submit" class="btn btn-primary w-100" [disabled]="patientForm.invalid">Ajouter</button>
  </form>
</div>