<div class="container mt-5 p-4 border rounded shadow-lg bg-light">
  <h1 class="text-center text-primary mb-4">Modifier le Patient</h1>
  <form (ngSubmit)="updatePatient()">
    <div class="mb-3">
      <label for="numero_identite" class="form-label">Numéro d'identité</label>
      <input
        id="numero_identite"
        class="form-control"
        [(ngModel)]="patient.numero_identite"
        name="numero_identite"
        required
      />
    </div>
    <div class="mb-3">
      <label for="nom" class="form-label">Nom</label>
      <input
        id="nom"
        class="form-control"
        [(ngModel)]="patient.nom"
        name="nom"
        required
      />
    </div>
    <div class="mb-3">
      <label for="prenom" class="form-label">Prénom</label>
      <input
        id="prenom"
        class="form-control"
        [(ngModel)]="patient.prenom"
        name="prenom"
        required
      />
    </div>
    <div class="mb-3">
      <label for="date_naissance" class="form-label">Date de naissance</label>
      <input
        id="date_naissance"
        type="date"
        class="form-control"
        [(ngModel)]="patient.date_naissance"
        name="date_naissance"
        required
      />
    </div>

    <div class="mb-3">
      <label for="date_naissance" class="form-label">Sex</label>
      <select id="sex" class="form-select" [(ngModel)]="patient.sex">
        <option value="m">Homme</option>
        <option value="f">Femme</option>
      </select>
    </div>

    <div class="mb-3">
      <label for="numero_telephone" class="form-label">Numéro de téléphone</label>
      <input
        id="numero_telephone"
        class="form-control"
        [(ngModel)]="patient.numero_telephone"
        name="numero_telephone"
        required
      />
    </div>
    <button type="submit" class="btn btn-primary w-100">Mettre à jour</button>
  </form>
</div>
